body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #333333, #666666);
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
}

.container {
  background-color: #1a1a1a; 
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  padding: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  width: 100%;
}

.input-url {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #555555; 
	font-weight: bold;
	font-size: 2rem;
  border-radius: 5px;
  background-color: #333333; 
  color: #ffffff; 
  overflow-x: auto; 
	outline: 1px solid #555555;
}

.input-url:focus{
	outline: 2px white dotted;
}

.btn-load {
  padding: 10px 20px;
  background-color: rgb(31, 212, 224) ; 
  color: black; 
	font-weight: 600;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-load:hover {
  background-color: rgb(18, 127, 134); 
	color: white;
}

.error-message{
	align-self: start;
	color: rgb(241, 84, 84);
}
